<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-start">
            <div class="avatar"></div>
            <div class="text-wrapper ml-3">
                <div class="d-flex justify-content-between">
                    <div>
                        <h6 class="text-playfair text-capitalize mb-0 text-semi-small">{{ comment?.author?.username }}
                        </h6>
                        <p class="text-secondary text-small mb-0 mt-1">{{ formatedDate }}</p>
                    </div>
                    <button *ngIf="userObj?.username === comment?.author?.username" [disabled]="deleteLoading" type="button" class="btn text-primary icon mousePointer ml-2"
                        (click)="deleteComment()">
                        <span class="lnr lnr-trash" *ngIf="!deleteLoading"></span>
                        <i *ngIf="deleteLoading" class="fas fa-spinner fa-spin"></i>
                    </button>
                </div>

                <p class="mt-2 text-capitalize text-secondary text-semi-small">
                    {{ comment?.body }}
                </p>

            </div>
        </div>
    </div>
</div>