<div class="wrapper position-relative mb-5 pb-5 post-card">
    <!-- Figure -->
    <div class="wrapper post-figure"></div>

    <!-- Topic -->
    <h4 class="mt-3 text-playfair"><a href="#">{{ article?.title }}</a></h4>

    <!-- snippet -->
    <p class="mt-3 mb-0 text-semi-small text-secondary">{{ article?.description }}</p>

    <!-- Continue button -->
    <a *ngIf="article" class="btn text-uppercase font-weight-bold mt-3" [routerLink]="['/articles', article.slug]">Continue Reading</a>

    <!-- Post card meta card -->
    <div class="position-absolute meta-card w-100">
        <app-post-meta-card [author]="article?.author"></app-post-meta-card>
    </div>
</div>