.post-figure {
    height: 350px;
    overflow: hidden;
    background-image: url(../../../../../assets/img/jumbotron.jpg);
    background-size: cover;
    background-position: center;
}

.meta-card {
    top: 40%;
    left: -70px;
}
