ul {
    margin: 0;

    li {
        list-style: none;
        display: inline-block;
        margin: 0px 20px;
    }
}
.transparent-btn {
    border: none !important;
    background-color: transparent !important;
}

#main-nav {
    background-color: transparent;
}