<nav class="position-absolute w-100 d-flex align-items-center" style="height: 90px;">
    <div class="w-100">
        <div class="container-1 mx-auto">
            <div class="row">
                <div class="col d-flex justify-content-between">
                    <!-- Favicon -->
                    <div class="d-flex align-items-center">
                        <div>
                            <img src="assets/img/lion.png" class="d-inline-block" alt="Lion head Favicon" height="50">
                        </div>
                        <h4 class="ml-2 mb-0 text-white text-playfair">Eblog</h4>
                    </div>

                    <!-- Links -->
                    <div class="d-flex align-items-center">
                        <ul>
                            <li *ngFor="let item of routes">
                                <a class="text-white text-uppercase text-small font-weight-bold">{{ item.title }}</a>
                            </li>
                            <!-- Login -->
                            <li class="mr-1">
                                <button type="button" class="btn cta-1 text-small text-uppercase font-weight-bold" [routerLink]="['/login']">Login</button>
                            </li>
                            <!-- Signup -->
                            <li class="mx-1">
                                <button type="button" class="btn cta-2 text-small text-uppercase font-weight-bold">Signup</button>
                            </li>
                            <!-- After sign in -->
                            <li class="d-none">
                                <div class="dropdown">
                                    <a class="btn transparent-btn p-2 text-white text-semi-small" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <svg class="lnr lnr-user">
                                            <use xlink:href="#lnr-user"></use>
                                        </svg>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>