.avatar {
    height: 400px !important;
    background-size: cover !important;
    background-position-y: 30% !important;
}

.wrapper {
    -webkit-box-shadow: 0px 0px 21px -1px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 0px 0px 21px -1px rgba(0, 0, 0, 0.52);
    box-shadow: 0px 0px 21px -1px rgba(0, 0, 0, 0.52);
    margin-top: -150px;
}
