<div class="wrapper px-4 d-flex align-items-center p-card">
    <!-- Avatar -->
    <div class="avatar"></div>

    <!-- Text -->
    <div class=" ml-3"> 
        <p class="mb-0 text-uppercase text-small font-weight-bolder">Isah Ohieku</p>
        <p class="mb-0 mt-2 text-secondary text-small text-uppercase d-flex justify-content-between">
            <!-- Date -->
            <span class="d-inline-block">
                <svg class="lnr lnr-calendar-full"><use xlink:href="#lnr-calendar-full"></use></svg> 13th October, 2020
            </span>
            <!-- Post Type -->
            <span class="d-inline-block ml-4">
                <svg class="lnr lnr-picture"><use xlink:href="#lnr-picture"></use></svg> Image
            </span>
            <!-- Category -->
            <span class="d-inline-block ml-4">
                <svg class="lnr lnr-coffee-cup"><use xlink:href="#lnr-coffee-cup"></use></svg> Food & Travels
            </span>
            <!-- Comments -->
            <span class="d-inline-block ml-4">
                <svg class="lnr lnr-bubble"><use xlink:href="#lnr-bubble"></use></svg> 03 Comments
            </span>
        </p>
    </div>
</div>
