$primary-color: #8050fa;
$color-white: #fff;
$secondary-color: #888888;

.page-link {
    border: 0;
    color: $secondary-color;
}

.page-item.active .page-link {
    background-color: $primary-color;
    color: $color-white;
}

.page-link:hover {
    background-color: $primary-color;
    color: $color-white;
}

.page-link:focus {
    box-shadow: none;
}
