<div class="container container-1 mt-5">
    <div class="row">
        <div class="col">
            <h3 class="mt-5 text-playfair text-center">Start writing your Article</h3>

            <form #f="ngForm" (ngSubmit)="addArticle(f)" class="form mx-auto my-5">
                <div class="input-wrapper">
                    <app-form-control [isRequired]="true" [type]="'text'" [placeholder]="'Enter article title'" ngModel
                        name="title" [customClass]="'input-style w-100 bg-white'"></app-form-control>
                </div>

                <div class="input-wrapper mt-4">
                    <app-form-control [isRequired]="true" [type]="'text'" [placeholder]="'Enter what article is about'"
                        ngModel name="about" [customClass]="'input-style w-100 bg-white'"></app-form-control>
                </div>

                <div class="input-wrapper-2 mt-4">
                    <app-form-control [isRequired]="true" [textarea]="true" [placeholder]="'Enter article markdown'"
                        ngModel name="markdown" [customClass]="'input-style w-100 bg-white tex'"></app-form-control>
                </div>

                <div class="input-wrapper mt-4">
                    <app-form-control [isRequired]="true" [type]="'text'"
                        [placeholder]="'Enter a tag and hit enter to add'" ngModel name="tag"
                        [customClass]="'input-style w-100 bg-white'"></app-form-control>
                </div>

                <div class="btn-wrap d-flex justify-content-center">
                    <button type="button"
                        class="btn bg-primary text-white border-0 mt-5 mx-auto text-uppercase w-40">Preview</button>
                    <button [disabled]="loading"
                        class="btn bg-primary text-white border-0 mt-5 mx-auto text-uppercase w-40">Publish article
                        <app-loader *ngIf="loading"></app-loader></button>
                </div>
            </form>
        </div>
    </div>
</div>