<footer class="bg-dark">
    <div class="container container-1">
        <div class="row">
            <div class="col-3">
                <h6 class="text-white text-playfair">About</h6>
                <p class="text-secondary text-semi-small mt-4 w-90">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae, nesciunt nulla magnam ipsa
                    perferendis obcaecati asperiores non officiis.
                </p>
            </div>
            <div class="col-3">
                <h6 class="text-white text-playfair">Newsletter</h6>
                <p class="text-secondary text-semi-small mt-4">
                    Stay up to date with the latest trends
                </p>
            </div>
            <div class="col-3">
                <h6 class="text-white text-playfair">Instagram Feed</h6>
                <div class="mt-4">
                    <div class="image"></div>
                    <div class="image"></div>
                    <div class="image"></div>
                    <div class="image"></div>
                    <div class="image"></div>
                    <div class="image"></div>
                    <div class="image"></div>
                    <div class="image"></div>
                </div>
            </div>
            <div class="col-3">
                <h6 class="text-white text-playfair">Follow Us</h6>
                <p class="text-secondary text-semi-small mt-4">
                    Let us be social
                </p>
                <nav class="mt-3">
                    <ul class="pl-0">
                        <li class="d-inline-block pr-2"><a href="https://www.linkedin.com/in/isah-ohieku-b982a6164"
                                class="text-white" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li class="d-inline-block px-2"><a href="https://www.github.com/isahohieku"
                                class="text-white" target="_blank"><i class="fab fa-github"></i></a></li>
                        <li class="d-inline-block px-2"><a href="https://www.dribble.com/isahohieku"
                                class="text-white" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                        <li class="d-inline-block px-2"><a href="https://www.behance.net/isahohiekufa98"
                                class="text-white" target="_blank"><i class="fab fa-behance"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- Copyright -->
        <div class="row mt-5">
            <div class="col">
                <p class="text-secondary text-semi-small text-center">
                    Copyright &copy;{{ year }} Allrights reserved - <span class="text-primary">IsahdesignedIt</span>
                </p>
            </div>
        </div>
    </div>
</footer>