<div class="w-100 header d-flex align-items-end">
    <div class="container container-1">
        <div class="row">
            <div class="col-4"></div>
            <div class="col">
                <h2 class="text-capitalize text-white font-weight-light">Isah Ohieku</h2>
                <p class="text-uppercase text-white font-weight-light">Senior frontend developer</p>
            </div>
        </div>
    </div>
</div>
<div class="container container-1">
    <div class="row">
        <div class="col-4">
            <app-profile-card *ngIf="user?.username" [user]="user"></app-profile-card>
        </div>
        <div class="col d-flex justify-content-end">
            <div class="w-90 pt-5">
                <app-post-card *ngFor="let article of articles" [article]="article"></app-post-card>

                <div *ngIf="loading" class="d-flex justify-content-center align-items-center p-5 my-5">
                    <app-loader [primary]="true"></app-loader>
                </div>

                <!-- Pagination -->
                <div class="d-flex justify-content-center mb-5" *ngIf="!loading">
                    <app-pagination></app-pagination>
                </div>
            </div>
        </div>
    </div>
</div>