<!-- Jumbotron -->
<div class="jumbo w-100 d-flex justify-content-center">
    <div class="w-75 align-self-center">
        <h1 class="text-center text-capitalize text-white text-playfair">The beautiful art of blogging</h1>
    </div>
</div>

<!-- Main body -->
<main class="mt-5">
    <div class="container container-1 mt-5">
        <div class="row">
            <div class="col-8">
                <app-post-card></app-post-card>
                <app-post-card></app-post-card>
                <app-post-card></app-post-card>
            </div>
            <div class="col">
                <app-search-widget></app-search-widget>
                <app-author></app-author>
                <app-popular-posts></app-popular-posts>
                <app-popular-categories></app-popular-categories>
            </div>
        </div>
    </div>
</main>