.input-wrapper {
    border: 1px solid #eee;
    background: #f9f9ff;
    border-radius: 50px;
    overflow: hidden;
}

.input-wrapper-2 {
    border: 1px solid #eee;
    background: #f9f9ff;
    border-radius: 10px;
    overflow: hidden;
}

.tex {
    border-radius: 10px;
    height: 200px !important;
}

.form {
    max-width: 600px;
}